.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.pageWrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
}
.flightCard {
  width: 58%;
  height: 10%;
  border: 3px solid lightblue;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  background-color: aliceblue;
}
.flightCard:hover {
  border: 3px solid mediumslateblue;
}

.flightCard .flightCardContent {
  text-align: center;
  font-size: 16px;
}

.flightCardContent .cancelButton {
  background-color: rgb(112, 107, 216);
  color: aliceblue;
  margin-left: 15px;
}

.flightForm {
  max-width: 300px;
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.flightsTitle {
  justify-self: flex-start;
}
