@import '../../styles/variables.scss';

.layout {
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  height: 4rem;
  align-self: flex-start;
}

.contentLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
