@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/fonts/SF-Pro-Display-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  * {
    color: rgb(210, 218, 231) !important;
  }
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0 !important;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(196, 205, 219, 0.6);
  border-radius: 20px;
  border: 6px solid transparent;
  transition: background-color 0.8s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(196, 205, 219, 1);
}
