$content-dark: rgb(11, 11, 12);
$nav-bar-dark: rgb(16, 16, 19);

$primary-color: #5fb7ff;
$primary-color-hover: #71bfff;
$primary-color-dark-mode: #6d6bee;
$primary-color-dark-mode-hover: #8583f4;
$secondary-color: #8379f4;
$secondary-color-hover: #9c93fd;
$secondary-color-dark-mode: #141125;
$secondary-color-dark-mode-hover: #262346;

$shadow-color: rgba(0, 0, 0, 0.15);
$box-shadow: $shadow-color 0px 2px 15px;
