@import '../../styles/variables.scss';

.active {
  color: $primary-color;
  font-weight: 600;
}

.link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .active {
    color: $primary-color-dark-mode !important;
  }
}
