.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius:15%
  }

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius:15%;
    flex-direction: column;
  }